.Home {
  text-align: center;
  padding: 40px;
}

.Name {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 800;
  color: #111;
}

.Summary {
  font-size: 24px;
  padding: 50px 100px;
}
